@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'BasementGrotesque';
  src: url('../assets/fonts/BasementGrotesque-Black_v1.202.otf');
}
body {
  background-color: rgb(20, 20, 20);
  color: white;
}
.logo-font {
  font-family: 'BasementGrotesque', sans-serif;
}

.swiper-shadow {
  -webkit-box-shadow: inset -1px -92px 25px 1px rgba(0,0,0,0.8);
  -moz-box-shadow: inset -1px -92px 25px 1px rgba(0,0,0,0.8);
  box-shadow: inset -1px -92px 25px 1px rgba(0,0,0,0.8);
}